<form id="<%= menu_item[:id]%>"  id="<%= menu_item[:classes]%>">
  <input type="<%= menu_item[:input][:type] %>" class="form-control <%= menu_item[:input][:classes] %>" placeholder="<%= menu_item[:input][:placeholder] %>">
</form>