<div id="header">
  <img id="button-menu" class="pull-left" src="/public/images/ic_menu_black_24dp_2x.png">
  <span class="title pull-left">Items</span>
  <a href="<%= url_for :action => :new %>" class="btn btn-primary btn-sm pull-right">New</a>
</div>

<div class="list-group">
  <% @inventoryItems.each do |item| %>

      <a href="<%= url_for :action => :show, :id => item.object %>" class="list-group-item">
        <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true" style="margin-top: 1em"></span>
        <span class="pull-right" style="margin-top: 1em; margin-right: 1em"><%= item.quantity %> pcs</span>
        <%= item.productName %><br/>
        <small><%= item.upc %></small>
        <br/>
      </a>

  <% end %>

</div>
