<%= render partial: 'partials/page_header',
           locals: {
               :title => 'Inventory Items',
               :main_menu => [
                   {:type => :action, :action => '', :role => 'sync', :title => 'Sync'},
                   {:type => :action, :action => url_for(:controller => :Settings, :action => :index), :title => 'Settings'},
                   {:type => :action, :action => url_for(:controller => :Settings, :action => :logout), :title => 'Log Out'},
                   {:type => :action, :action => url_for(:controller => :Settings, :action => :do_quit), :title => 'Quit'}
               ],
               :context_menu => [
                   {:type => :form, :id => 'search', :input => {:type => 'search', :placeholder => 'Search', :classes => ''}}
               ]} %>

<div class="page">

  <% if self.class.query %>
      <%= render partial: 'filter_alert', locals: {:query => self.class.query} %>
  <% end %>


  <% if scanner_camera? %>
      <div class="space-wrapper btn-scan-wrapper">
        <button class="btn btn-primary btn-lg btn-block" data-action="scan">Press to scan</button>
      </div>
  <% end %>

  <div class="alert-wrapper"></div>

  <div id="item-list">
    <% if @inventoryItems.size != 0 %>
        <div class="list-group">
          <%= render partial: 'inventory_item', collection: @inventoryItems %>
        </div>
    <% else %>
        <div class="alert alert-warning" role="alert"><h4>Items not found</h4></div>
    <% end %>
  </div>

</div>



<script>
    var spinner;

    var setDropHandlerButton = function () {
        $(".filter-query [data-dismiss=alert]").on("click", function (event) {
            //TODO: add spinner here
            $.ajax({
                url: "<%= url_for :action => :reset_filter %>",
                dataType: 'json',
                success: function (response) {
                    //TODO: remove spinner here
                    $("#item-list").html(response.items_html);
                }
            });
        });
    };

    $(".page").on("spinnerOn", function (event) {
        spinner = new Spinner().spin();
        $(".page").append(spinner.el);
    });

    $(".page").on("spinnerOff", function (event) {
        spinner.stop();
    });

    $("[data-action=scan]").on("click", function (event) {
        $(".alert").addClass("hidden");
        $.post("<%= url_for(:action => :scan_by_camera) %>");
    });

    $(".main-menu-btn").on("click", function () {
        $("#context-menu").collapse("hide")
    });

    $(".context-menu-btn").on("click", function () {
        $("#main-menu").collapse("hide")
    });

    $("#context-menu form#search").on("submit", function (event) {
        event.preventDefault();
        $("#context-menu").collapse("hide");
        var query = $("#context-menu form#search input[type=search]").val();
        $.ajax({
            url: "<%= url_for :action => :do_filter %>",
            data: {query: query},
            dataType: 'json',
            success: function (response) {
                $("#item-list").html(response.items_html);
                $(".alert-wrapper").html(response.filter_html);
                setDropHandlerButton();
            }
        });
    });

    $("a[data-role=sync]").on("click", function (event) {
        event.preventDefault();
        $("#main-menu").collapse("hide");
        $.post("<%= url_for(:controller => :Settings, :action => :do_sync) %>");
    })

    $("body").on("onSyncCompleted", function (event) {
        $.ajax({
            url: "<%= url_for :action => :get_items %>",
            dataType: 'json',
            success: function (response) {
                $("#item-list").html(response.items_html);
            }
        });

    });

    setDropHandlerButton();

</script>
