<div class="row page-title">
  <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
    <% if Rho::RhoConnectClient.isLoggedIn %>
        <a href="<%= url_for :controller => :Settings, :action => :logout %>" class="btn btn-warning btn-sm pull-left">
          Logout
        </a>
    <% else %>
        <a href="<%= url_for :controller => :Settings, :action => :login %>" class="btn btn-primary btn-sm pull-left">
          Login
        </a>
    <% end %>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
    <h4 class="text-center">Inventory Items</h4>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
    <a href="<%= url_for :action => :new %>" class="btn btn-success btn-sm  btn-block">New</a>
  </div>
</div>

<div class="row list-group">
  <% @inventoryItems.each do |item| %>

      <a href="<%= url_for :action => :show, :id => item.object %>" class="list-group-item">
        <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true" style="margin-top: 1em"></span>
        <span class="pull-right" style="margin-top: 1em; margin-right: 1em"><%= item.quantity %> pcs</span>
        <%= item.productName %><br/>
        <small><%= item.upc %></small>
        <br/>
      </a>

  <% end %>
</div>
