<div class="row page-title">
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <!--<a href="<%= Rho::Application.startURI %>" class="btn btn-default btn-sm pull-left">Home</a>-->
  </div>
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <h3 class="text-center">Inventory Items</h3>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <a href="<%= url_for :action => :new %>" class="btn btn-primary btn-sm pull-right">New</a>
  </div>
</div>

<div class="row list-group">
  <% @inventoryItems.each do |item| %>

      <a href="<%= url_for :action => :show, :id => item.object %>" class="list-group-item">
        <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
        <%= item.productName %><br/>
        <small><%= item.upc %></small><br/>
      </a>

  <% end %>
</div>

