<%= render partial: 'partials/page_header',
           locals: {
               :buttons => {
                   :left => {:title => 'Cancel', :classes => 'btn-default btn-cancel', :action => url_for(:action => :index)},
                   :right => {:title => 'Save', :classes => 'btn-success btn-save'}
               }
           }
%>

<div class="page">

  <form method="POST" action="<%= url_for :action => :create %>">
    <input type="hidden" name="id" value="<%= @inventoryItem.object %>"/>

    <div class="form-group">
      <label for="inventoryItem[upc]">UPC</label>
      <% if has_scanner? %>
        <% if hardware_scanner_selected? %>
          <input type="text" id="inventoryItem[upc]" name="inventoryItem[upc]" class="form-control" value="<%= @params['upc'] %>"/>
        <% else %>
          <div class="input-group">
            <input type="text" id="inventoryItem[upc]" name="inventoryItem[upc]" class="form-control" value="<%= @params['upc'] %>"/>
            <span class="input-group-btn">
            <button type="button" id="takeBarcodeBtn" class="btn btn-default "><span class="glyphicon glyphicon-barcode"></span></button>
          </span>
          </div>
        <% end %>
      <% else %>
        <input type="text" id="inventoryItem[upc]" name="inventoryItem[upc]" class="form-control" value="<%= @params['upc'] %>"/>
      <% end %>

    </div>

    <div class="form-group">
      <label for="inventoryItem[productName]">Product name</label>
      <input type="text" id="inventoryItem[productName]" name="inventoryItem[productName]" class="form-control"/>
    </div>

    <div class="form-group">
      <label for="inventoryItem[quantity]">Quantity</label>
      <input type="number" id="inventoryItem[quantity]" name="inventoryItem[quantity]" class="form-control" value="1"/>
    </div>
    <% if has_camera? %>
      <div class="form-group">
        <label for="inventoryItem[photo]">Photos</label>
        <div id="inventoryItem[photo]" class="row">

          <div id="photo" class="col-lg- col-md-4 col-sm-4 col-xs-4 hidden">
            <div class="thumbnail">
              <img src="">
              <input type="hidden" id="inventoryItem[photoUri]" name="inventoryItem[photoUri]" value=""/>
              <div class="caption">
                <button id="deletePhotoBtn" type="button" class="btn btn-danger btn-xs btn-block">Del</button>
              </div>
            </div>
          </div>

          <div id="takePhotoBtn" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="thumbnail">
              <img src="/public/images/camera.png">
            </div>
          </div>
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
          <!--<div id="choosePhotoBtn" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="thumbnail">
              <img src="/public/images/gallery.png">
            </div>
          </div>-->
        </div>
      </div>
      <% else %>
      <div class="alert alert-warning">The device has no capability to take a picture</div>
    <% end %>
    <div class="form-group">
      <label for="inventoryItem[employeeId]">Employee ID</label>
      <input type="text" id="inventoryItem[employeeId]" name="inventoryItem[employeeId]" class="form-control"/>
    </div>

    <% if has_signature? %>
      <div class="form-group">
      <label for="inventoryItem[signature]">Signature</label>
      <div id="inventoryItem[signature]" class="row">
        <div id="signatureControl" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <button type="button" id="takeSignatureBtn" class="btn btn-default btn-block">Sign it</button>
        </div>

        <div id="signature" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 hidden">
          <div class="thumbnail">
            <img src="">
            <input type="hidden" id="inventoryItem[signatureUri]" name="inventoryItem[signatureUri]" value=""/>
          </div>
        </div>
      </div>
    </div>
      <% else %>
        <div class="alert alert-warning">The device has no capability to get a signature</div>
    <% end %>
  </form>

</div>
<script>
    $(".btn-save").on("click", function (event) {
        $("form").submit();
    });

</script>
<script src="/public/js/new-edit.js" type="text/javascript"></script>

