<div id="header">
  <span id="button-menu" class="glyphicon glyphicon-menu-hamburger"></span>
  <a href="<%= url_for :action => :do_back %>"><span id="button-back" class="glyphicon glyphicon-menu-left"></span></a>
  <span class="title"><%= @inventoryItem.productName %></span>
  <a href="<%= url_for :action => :edit, :id => @inventoryItem.object %>" class="btn btn-primary pull-right">Edit</a>
</div>


<ul class="list-group">

  <li class="list-group-item">
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <span pull-right><strong>UPC</strong></span>
      </div>
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <%= @inventoryItem.upc %>
      </div>
    </div>
  </li>

  <li class="list-group-item">
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <span pull-right><strong>Product Name</strong></span>
      </div>
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <%= @inventoryItem.productName %>
      </div>
    </div>
  </li>

  <li class="list-group-item">
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <span pull-right><strong>Quantity</strong></span>
      </div>
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <%= @inventoryItem.quantity %>
      </div>
    </div>
  </li>

  <li class="list-group-item">
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <span pull-right><strong>Photo</strong></span>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <% if @inventoryItem.photoUri %>
            <div class="thumbnail">
              <img src="<%= Rho::Application.expandDatabaseBlobFilePath(@inventoryItem.photoUri) %>">
            </div>
        <% else %>
            &lt;none&gt;
        <% end %>
      </div>

    </div>
  </li>

  <li class="list-group-item">
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <span pull-right><strong>Employee Id</strong></span>
      </div>
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <%= @inventoryItem.employeeId %>
      </div>
    </div>
  </li>

  <li class="list-group-item">
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <span pull-right><strong>Signature</strong></span>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <% if @inventoryItem.signatureUri %>
            <div class="thumbnail">
              <img src="<%= Rho::Application.expandDatabaseBlobFilePath(@inventoryItem.signatureUri) %>">
            </div>
        <% else %>
            &lt;none&gt;
        <% end %>
      </div>

    </div>
  </li>

</ul>

</di