<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>OidcNative Extension Test</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse"
       <%= "data-ajax='false'" if is_bb6 %>>Home</a>
      
  </div>

  <div data-role="content">
    <ul data-role="listview">
        <%= link_to 'Run OidcNative.getPlatformName test', { :action => :run_test_get_platform }%><br>
        <%= link_to 'Run OidcNative.calcSumm test', { :action => :run_test_calc_summ }%><br>
        <%= link_to 'Run OidcNative.joinStrings test', { :action => :run_test_join_strings }%><br>
    </ul>
  </div>

</div>

