<nav class="navbar navbar-default navbar-fixed-top">
  <div style="border: 1px solid darkgray">abc def</div>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">


      <% if main_menu %>
          <div class="navbar-toggle main-menu-btn"  data-toggle="collapse" data-target="#main-menu" >
            <i class="fa fa-bars fa-2x"></i>
          </div>
      <% end %>

      <% if context_menu %>
          <div class="navbar-toggle context-menu-btn"  data-toggle="collapse" data-target="#context-menu" >
            <i class="fa fa-ellipsis-v fa-2x"></i>
          </div>
      <% end %>

      <% if title %>
          <div class="navbar-brand text-center"><%= title %></div>
      <% end %>

      <% if buttons && buttons[:left] %>
          <% if buttons[:left][:action] %>
              <a href="<%= buttons[:left][:action] %>" class="btn navbar-btn btn-left <%= buttons[:left][:classes] %>"><%= buttons[:left][:title] %></a>
          <% else %>
              <button class="btn navbar-btn btn-left <%= buttons[:left][:classes] %>"><%= buttons[:left][:title] %></button>
          <% end %>
      <% end %>

      <% if buttons && buttons[:right] %>
          <% if buttons[:right][:action] %>
              <a href="<%= buttons[:right][:action] %>" class="btn navbar-btn btn-right pull-right <%= buttons[:right][:classes] %>"><%= buttons[:right][:title] %></a>
          <% else %>
              <button class="btn navbar-btn btn-right pull-right <%= buttons[:right][:classes] %>"><%= buttons[:right][:title] %></button>
          <% end %>
      <% end %>

    </div>



    <!-- Collect the nav links, forms, and other content for toggling -->
    <% if main_menu %>
        <% puts "main_menu: #{main_menu.inspect}" %>
        <div class="collapse navbar-collapse" id="main-menu">
          <ul class="nav navbar-nav">
            <%= render partial: 'menu_item', collection: main_menu %>
          </ul>
        </div>
    <% end %>

    <% if context_menu %>
        <div class="collapse navbar-collapse" id="context-menu">
          <ul class="nav navbar-nav">
            <%= render partial: 'menu_item', collection: context_menu %>
          </ul>
        </div>
    <% end %>

  </div>
</nav>