<div class="container-fluid">

  <div class="row page-title">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <a href="<%= url_for :action => :index %>" class="btn btn-default btn-sm pull-left">Cancel</a>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <h3 class="text-center">New <%= @sync_event.title %></h3>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    </div>
  </div>

  <form method="POST" action="<%= url_for :action => :create %>">
    <input type="hidden" name="id" value="<%= @sync_event.object %>"/>

    
        <div class="form-group">
          <label for="sync_event[createdAt]">Createdat</label>
          <input type="text" id="sync_event[createdAt]" name="sync_event[createdAt]" <%=
          placeholder("Createdat") %> class="form-control" />
        </div>
    
        <div class="form-group">
          <label for="sync_event[type]">Type</label>
          <input type="text" id="sync_event[type]" name="sync_event[type]" <%=
          placeholder("Type") %> class="form-control" />
        </div>
    
        <div class="form-group">
          <label for="sync_event[extra]">Extra</label>
          <input type="text" id="sync_event[extra]" name="sync_event[extra]" <%=
          placeholder("Extra") %> class="form-control" />
        </div>
    

    <button type="submit" class="btn btn-success btn-block">Create</button>
  </form>

</div>