<div id="header">
  <span id="button-menu" class="glyphicon glyphicon-menu-hamburger"></span>
  <a href="<%= url_for :action => :do_back %>"><span id="button-back" class="glyphicon glyphicon-menu-left"></span></a>
  <span class="title">Edit Item</span>
  <a id="done-button" href="#" class="btn btn-primary pull-right">Done</a>
</div>

<% if @msg %>
    <div class="alert alert-danger"><%= @msg %></div>
<% end %>

<div class="list-group">
  <li class="list-group-item">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <span pull-right>Client ID:</span>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <%= Rhom::Rhom::client_id %>
      </div>
    </div>
  </li>
  <a href="<%= url_for :action => :reset %>" class="list-group-item">
    <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
    Reset Database
  </a>
  <a href="<%= url_for :action => :do_sync %>" class="list-group-item">
    <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
    Perform Sync
  </a>
  <% if Rho::RhoConnectClient.isLoggedIn %>
      <a href="<%= url_for :action => :logout %>" class="list-group-item">
        <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
        Logout
      </a>

  <% else %>
      <a href="<%= url_for :action => :login %>" class="list-group-item">
        <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
        Login
      </a>
  <% end %>
  <li class="list-group-item">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <span pull-right>Barcode scanner:</span>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <select id="barcodeScanner" class="form-control">
          <% Rho::Barcode.enumerate.each do |scanner| %>
              <option value="<%= scanner.friendlyName %>" <%= barcodeScannerChoosed(scanner) %>><%= "#{scanner.friendlyName}" %></option>
          <% end %>
        </select>
      </div>
    </div>
  </li>
</div>

<script>
    $(document).ready(function () {
        $("#barcodeScanner").change(function () {
            var value = $("#barcodeScanner").val();
            Rho.Barcode.getDefault().disable();
            var scanners = Rho.Barcode.enumerate();
            for (var i = 0; i < scanners.length; i++) {
                var scannerName = scanners[i].friendlyName != null ? scanners[i].friendlyName : "";
                if (scannerName == value) {
                    Rho.Barcode.setDefault(scanners[i]);
                    break;
                }
            }
            Rho.Config.setPropertyString("<%= @barcode_scanner_property_name %>", value, true);
        });
    })
</script>