<%= render partial: 'partials/page_header',
           locals: {
               :buttons => {
                   :left => {:title => 'Back', :classes => 'btn-default btn-back', :action => url_for(:controller => :InventoryItem, :action => :index)}
               }
           }
%>
<div class="page">

  <div class="page-title container-fluid">
    <h3>Settings</h3>
  </div>

  <div class="page-content">
    <% if @msg %>
        <div class="alert alert-danger"><%= @msg %></div>
    <% end %>

    <div class="list-group">
      <li class="list-group-item">
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <span pull-right>Client ID:</span>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <%= Rhom::Rhom::client_id %>
          </div>
        </div>
      </li>
      <a href="<%= url_for :action => :reset %>" class="list-group-item">
        <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
        Reset Database
      </a>
      <li class="list-group-item">
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <span pull-right>Barcode scanner:</span>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <select id="barcodeScanner" class="form-control">
              <% Rho::Barcode.enumerate.each do |scanner| %>
                  <option value="<%= scanner.friendlyName %>" <%= barcodeScannerChoosed(scanner) %>><%= "#{scanner.friendlyName}" %></option>
              <% end %>
            </select>
          </div>
        </div>
      </li>
    </div>
  </div>

</div>

<script>
    $(document).ready(function () {
        $("#barcodeScanner").change(function () {
            var value = $("#barcodeScanner").val();
            Rho.Barcode.getDefault().disable();
            var scanners = Rho.Barcode.enumerate();
            for (var i = 0; i < scanners.length; i++) {
                var scannerName = scanners[i].friendlyName != null ? scanners[i].friendlyName : "";
                if (scannerName == value) {
                    Rho.Barcode.setDefault(scanners[i]);
                    break;
                }
            }
            Rho.Config.setPropertyString("<%= @barcode_scanner_property_name %>", value, true);
        });
    })
</script>