<%= render partial: 'partials/page_header',
           locals: {
               :buttons => {
                   :left => {:title => 'Back', :classes => 'btn-default btn-back', :action => url_for(:controller => :InventoryItem, :action => :index)}
               }
           }
%>

<div class="page">

  <h3>Settings</h3>
  <% if @msg %>
    <div class="alert alert-danger"><%= @msg %></div>
  <% end %>

  <div class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <span pull-right>Client ID:</span>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="text-overflow: ellipsis;overflow-x: hidden">
          <%= Rhom::Rhom::client_id %>
        </div>
      </div>
    </li>
    <a href="<%= url_for :action => :reset %>" class="list-group-item">
      <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
      Reset Database
    </a>
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <span pull-right>Barcode scanner:</span>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <% if can_choose_scanner? %>
            <select id="barcodeScanner" class="form-control">
              <% Rho::Barcode.enumerate.each do |scanner| %>
                <% puts "scanner #{scanner.getAllProperties}" %>
                <% name = scanner.friendlyName != nil ? scanner.friendlyName : scanner.scannerType %>
                <option value="<%= name %>" <%= barcodeScannerChoosed(scanner) %>><%= "#{name}" %></option>
              <% end %>
            </select>
          <% else %>
            <div class="alert alert-warning">The device doesn't have a barcode scanner</div>
          <% end %>
        </div>

      </div>
    </li>
  </div>


</div>

<script>
    $(document).ready(function () {
        $("#barcodeScanner").change(function () {
            var value = $("#barcodeScanner").val();
            Rho.Barcode.getDefault().disable();
            var scanners = Rho.Barcode.enumerate();
            for (var i = 0; i < scanners.length; i++) {
                var scannerName = scanners[i].friendlyName != null ? scanners[i].friendlyName : "";
                if (scannerName == value) {
                    Rho.Barcode.setDefault(scanners[i]);
                    break;
                }
            }
            Rho.Config.setPropertyString("<%= @barcode_scanner_property_name %>", value, true);
        });
    })
</script>
