<div id="header">
  <a href="<%= url_for :action => :do_back %>" class="pull-left"><img src="/public/images/ic_arrow_back_black_24dp_2x.png"></a>
  <span class="title pull-left">Login</span>
</div>

<form method="POST" action="<%= url_for :action => :do_login %>">
  <% if @msg %>
      <div class="alert alert-warning"><%= @msg %></div>
  <% end %>

  <div class="form-group">
    <label for="login">Login</label>
    <input type="text" id="login" name="login" <%= placeholder("Login") %> class="form-control" value="test_user"/>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" <%= placeholder("Password") %> class="form-control"/>
  </div>

  <button type="submit" class="btn btn-success btn-block">Login</button>
</form>

